.main {
  width: min(100%, 1440px);
}

/* Header */
.header {
  position: fixed;
  max-width: inherit;
  width: inherit;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  padding: 32px calc(102 / 1440 * 100%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #012426;
  z-index: 1;
}

.burger {
  display: none;
  stroke-width: 2.5px;
  stroke: #05BCCA;
  background: url(/img/burger.png);
  width: 28px;
  height: 20px;
}

.xmark {
  display: none;
  background: url(/img/xmark.png);
  width: 28px;
  height: 28px;
}

.header ul {
  display: flex;
  gap: 4vw;
}

.header li {
  color: #a1c3c9;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 133.333% */
}

/* Search */

.searchbox {
  display: flex;
  align-items: center;
}

button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 42px;
  height: 42px;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent url("../img/lucide_search.svg") no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

button[type="submit"]:hover {
  opacity: 1;
}

.searchbar {
  color: #91b599;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background: none;
  display: none;
}

.headerRightContainer {
  display: flex;
  gap: 32px;
}

.shoppingcart {
  padding: 0 8px;
  border-radius: 8px;
  border: 2px solid #05bcca;
}

.headerRightContainer select {
  background: none;
  border: none;
  color: #a1c3c9;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
  /* 154.167% */
}

/* Subheader */

.subHeader {
  position: absolute;
  width: 100%;
  height: 145px;
  top: 130px;
  padding: 32px calc(102 / 1440 * 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #05bcca;
  background: #1a1a1a;
}

.subHeader h2 {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
  /* 154.167% */
}

.subHeaderBox {
  display: flex;
  width: 155px;
  height: 73px;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 1px solid #05bcca;
  transition: all 0.5s;
}

.subHeaderBox:hover {
  scale: 105%;
  border: 2px solid #05bcca;
}

.sectionOne {
  position: absolute;
  display: flex;
  width: 100%;
  top: 275px;
  height: 480px;
  background-image: url("/img/newCollection.png");
  justify-content: center;
}

.sectionOne h2 {
  color: #fff;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  /* 112.5% */
  padding-top: 5%;
}

.sectionOne span {
  color: #05bcca;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.leftArrow {
  transition: 0.5s;
}

.rightArrow {
  transition: 0.5s;
}

.leftArrow:hover {
  scale: 105%;
  transition: 0.5s;
}

.rightArrow:hover {
  scale: 105%;
  transition: 0.5s;
}

.slideControls {
  display: flex;
  position: absolute;
  top: 40%;
  justify-content: space-between;
  width: 90%;
}

/* Section Two */
.sectionTwo {
  display: flex;
  width: 100%;
  position: absolute;
  height: 692px;
  background: #012426;
  top: 755px;
}

.sectionTwo h2 {
  color: #f5f5f5;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
  /* 154.167% */
}

.sectionTwoWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  gap: 20px;
}

.sectionTwoDivCl {
  background-image: url(/img/classsicalGuitar.png);
  width: 404px;
  height: 240px;
  padding: 20px;
  transition: 0.5s;
}

.sectionTwoDivAc {
  background-image: url(/img/acousticGuitar.png);
  width: 404px;
  height: 240px;
  padding: 20px;
  transition: 0.5s;
}

.sectionTwoDivCl:hover {
  scale: 105%;
}

.sectionTwoDivAc:hover {
  scale: 105%;
}

/* Section Three */
.sectionThree {
  position: absolute;
  display: flex;
  width: 100%;
  padding: 96px 26px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  background: #1a1a1a;
  top: 1445px;
}

.sectionThree h2 {
  color: #05BCCA;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  /* 144.444% */
}

.sectionThree h2::after {
  content: '';
  border-bottom: solid 2px #05BCCA;
  width: 80%;
  display: flex;
  margin: auto;
  height: 10px;
}


.sectionThree p {
  color: #000;
  font-family: Kanit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 0 16px 24px 16px;
}

.sectionThree h3 {
  color: #d9d9d9;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  /* 168.75% */
}

.sectionThree h4 {
  color: #A1C3C9;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  /* 125% */
}

.cardBottomLeftContainer {
  display: flex;
}

.cardBottomLeftContainer img {
  width: 16px;
  height: 16px;
}

.cardImage {
  width: 100%;
  transition: transform .5s, filter 1s;
}

.cardsContainer {
  display: flex;
  column-gap: 20px;

}

.cardsContainer card {
  border: 1px solid #000;
}

.cardImage:hover {
  transform: scale(102%);
  filter: hue-rotate(90deg);
  overflow: hidden;
}

.cards {
  display: flex;
  width: 298px;
  height: 400px;
  padding: 8px 8px 16px 8px;
  flex-direction: column;
  gap: 16px;
  flex-shrink: 0;
  background: #2C4246;
}

.metaContainer {
  display: flex;
}

.cardBottomRightContainer {
  color: #05BCCA;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  /* 168.75% */
}

.cardBottomContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionFour {
  width: 100%;
  height: 756px;
  background: #012426;
  position: absolute;
  top: 2165px;
  display: flex;
  align-content: center;
  flex-direction: column;
  gap: 50px;
}

.sectionFourh2 {
  color: #C46A2B;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  /* 144.444% */
  margin: 0 auto;
  padding-top: 7%;
  /* transition: all 1s; */
}

.sectionFourh2::after {
  content: '';
  border-bottom: solid 2px #C46A2B;
  width: 80%;
  display: flex;
  margin: auto;
  height: 10px;
}

@keyframes sectionFourH2Underline {
  0% {
    width: 10%;
  }

  30% {
    width: 85%
  }

  100% {
    width: 80%;
  }
}


.sectionFourh2:hover {
  animation: sectionFourH2Underline 1s forwards;
  animation-direction: alternate;
}


.sectionFourCard1 {
  background-image: url(/img/sectionFourCard1.png);
  width: 404px;
  height: 440px;
  display: flex;
  align-items: flex-end;
}

.sectionFourCard1BottomContainer {
  background: rgba(5, 188, 202, 0.60);
  width: 100%;
  padding: 23px 0 23px 24px;
}

.sectionFourCard1BottomContainer p {
  color: #D9D9D9;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  /* 118.75% */
  padding: 2% 0;
}

.sectionFourCard2 {
  width: 404px;
  height: 440px;
  background: linear-gradient(rgba(18, 199, 199, 0.5), rgba(18,
        199,
        199,
        0.5)), url(/img/sectionFourCard3.png);
  padding: 24px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.sectionFourCard2TopContainer {}

.sectionFourCard2TopContainer p {
  color: #D9D9D9;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  /* 118.75% */
  padding: 2% 0;
}

.sectionFourCard2TopContainer p:last-child {
  color: #D9D9D9;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  /* 118.75% */
}

.sectionFourCard2BottomContainer {
  display: flex;
  align-items: center;
  color: #D9D9D9;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  /* 118.75% */
  gap: 25px;
  padding: 0 0 10% 50%;
}

.sectionFourCard2BottomContainer a {
  transition: .5s;
}

.sectionFourCard2BottomContainer a:hover {
  transition: .5s;
  scale: 105%;
}

.sectionFourCard2BottomContainer p {}

.sectionFourCard3 {
  background-image: url(/img/sectionFourCard3.png);
  width: 404px;
  height: 440px;
  display: flex;
  align-items: flex-end;
}

.sectionFourCard2BottomContainer img {
  border-radius: 4px;
  background: #C46A2B;
  padding: 0 5px;
}

.sectionFourCard3BottomContainer {
  background: rgba(5, 188, 202, 0.60);
  width: 100%;
  padding: 23px 0 23px 24px;
}

.sectionFourCard3BottomContainer p {
  color: #D9D9D9;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  /* 118.75% */
  padding: 2% 0;
}

.sectionFourCardsContainer {
  display: flex;
  margin: auto;
  gap: 20px;
}

.sectionFourContainer {
  display: flex;
  overflow: hidden;
}

.sectionFive {
  width: 100%;
  height: 320px;
  background: url(/img/sectionFiveBG.png);
  display: flex;
  position: absolute;
  top: 2920px;
  flex-direction: column;
  align-items: center;
}

.sectionFive h2 {
  color: #05BCCA;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  /* 59.375% */
  margin: 5% auto 3% auto;
}

.add-email {
  width: 100%;
  display: flex;
  border-radius: 8px 0 0 8px;
  border: 1px solid #F5F5F575;
  background: rgba(44, 66, 70, 0.80);
  padding: 10px;
  color: #A1C3C9;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  /* 118.75% */
}

.submit-email {
  display: flex;
  height: 48px;
  padding: 15px 14px 14px 14px;
  justify-content: center;
  align-items: center;
  border-radius: 0px 8px 8px 0px;
  background: #05BCCA;
  border: none;
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  /* 118.75% */
  transition: .5s;
}

.submit-email:hover {
  cursor: pointer;
  background: #038791;
}

.emailSubscription {
  display: flex;
  width: 30%;
}


.footer {
  width: 100%;
  position: absolute;
  top: 3240px;
  background: #2C4246;
  padding: 48px;
}

.footerContainer {
  display: flex;
  width: 100%;
  /* position: absolute;
  top: 314%;
  background: #2C4246;
  height: 380px; */
  justify-content: space-evenly;
  padding: 48px;
}

.leftFooterNav {}

.footerContainer h2 {
  color: #D9D9D9;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 20px;
  /* 133.333% */
}

.footerContainer li {
  color: #D9D9D9;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-top: 8px;
  /* 150% */
}

.footerContainer p {
  color: #D9D9D9;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-top: 8px;
  /* 150% */
}

.midFooterNav {}

.socials {
  display: flex;
  gap: 20px;
  padding-top: 8px;
}

.copyright {
  margin: auto;
  display: flex;
  align-items: center;
  width: 16%;
  gap: 15px;
  padding-top: 7%;
}

.copyright p {
  color: #D9D9D9;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

/* catalog start */

.catalog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 2112px;
  padding: 46px 94px 96px 94px;
  position: absolute;
  top: 154px;
  background: #012426;
  width: 100%;
}

.catalogH3 {
  color: #D9D9D9;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  /* 168.75% */
}

.catalogH4 {
  color: #A1C3C9;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  /* 125% */
}

.catalogFooter {
  width: 100%;
  position: absolute;
  top: 2541px;
  background: #2C4246;
  padding: 48px;
}

.navigationContainer {
  display: flex;
  width: 100%;
  position: absolute;
  top: 2415px;
  place-content: center;
}

.prevButton {
  border-radius: 8px;
  background: #C46A2B;
  padding: 10px;
  display: flex;
  gap: 16px;
}

.prevButton p {
  color: #D9D9D9;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  /* 150% */
}

.pages {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-inline: 50px;
}

.pages p {
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.nextButton {
  border-radius: 8px;
  background: #05BCCA;
  padding: 10px;
  display: flex;
  gap: 16px;
}

.nextButton p {
  color: #D9D9D9;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.sortContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 96px 94px;
}

.sortContainer h3 {
  color: #D9D9D9;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  /* 133.333% */
}

.catalogContainer {
  display: flex;
  width: 100%;
  position: absolute;
  top: 275px;
  background: #012426;
}

.filter {
  display: flex;
  gap: 20px;
}


.sort {
  display: flex;
  gap: 20px;
}

.electric {
  border: 1px solid #05BCCA;
  background: #A1C3C9;
}

.footerContact {
  width: 100%;
  position: absolute;
  top: 840px;
  background: #2C4246;
  padding: 48px;
}



/* contact */
.contactSection {
  width: 100%;
  height: 720px;
  background: url(/img/contactBG.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 120px;
  display: flex;
}

.contactSection h2 {
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  /* 133.333% */
}


.contactSectionContainer {
  display: flex;
  width: 616px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.contactSectionTopContainer {
  display: flex;
  width: 616px;
  padding: 35px 40px;
  justify-content: center;
  align-items: center;
  gap: 228px;
  background: #2C4246;
  margin-top: 40px;
}

.emptyDiv {
  width: 50%;
}

.contactInfoContainer {}

.contactInfoContainer p {
  color: #D9D9D9;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.mapIconContainer {
  display: flex;
}

.mail {
  display: flex;
  align-items: center;
  gap: 16px;
}

.phone {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 40px;
}

.form {
  margin-top: 30px;
  display: flex;
}

#fname {
  width: 44%;
  padding: 6px 0 6px 8px;
  align-items: center;
  background: #2C4246;
  border: none;
  color: #A1C3C9;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 166.667% */
}

#email {
  width: 44%;
  padding: 6px 0 6px 8px;
  align-items: center;
  background: #2C4246;
  border: none;
  color: #A1C3C9;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 166.667% */
}


.textarea {
  width: 89%;
  height: 103px;
  align-items: center;
  flex-shrink: 0;
  margin-top: 30px;
  background: #2C4246;
  border: none;
  color: #A1C3C9;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 166.667% */
}

.sendMessage {
  display: inline-flex;
  padding: 8px 73px;
  justify-content: center;
  align-items: center;
  background: #C46A2B;
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border: none;
  margin-top: 30px;
  /* 150% */
}

.map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 40px;
}

.contactSocials {
  /* display: flex;
  gap: 20px;
  padding-top: 8px;
  align-items: flex-end;
  align-content: flex-end; */
}